<div class="container-fluid w-100 d-flex justify-content-center py-4" data-bs-theme="dark" style="background-color: #0f172a; color: #f8fafc;">
    <table class="table table-hover table-bordered table-striped text-center" style="max-width: 80%; background-color: #1e293b; border-radius: 8px; overflow: hidden;">
        <thead class="table-dark">
            <tr>
                <th scope="col">Festivos</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
          @for (festivo of FestivosHttpClienteService.ListaFestivos; track $index) {
            <tr>
              <td>{{festivo.Nombre}}</td>
              <td>{{festivo.Dia}}-{{festivo.Mes}}-{{festivo.Year}}</td>
            </tr>
          }
        </tbody>
    </table>
</div>
